*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px; (10px/16px)

  @include respond(tablet-landscape) {
    font-size: 56.25%; // 1rem=9px; (9/16)
  }

  @include respond(tablet-portrait) {
    font-size: 50%; // 1rem=8px; (8/16)
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem=12px; (12/16)
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tablet-portrait) {
    padding: 0;
  }
}
